.input {
  &__label {
    color: #777;
    font-weight: 400;
    font-size: 16px;
  }

  &__input {
    padding: 0;
    outline: none;
    background-color: transparent;
    border: none;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #2f2f2f;
  }
}